<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- LOGO -->
    <a class="navbar-brand" href="/">🛒 Supermarket Backoffice</a>

    <!-- MOBILE BUTTON -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAV LINKS -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- LEFT SIDE -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/products/create">Add Product</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/sales/create">New Sale</a>
        </li>

        <!-- SUPERMARKETS -->
        <li class="nav-item">
          <a class="nav-link" href="/supermarkets">Supermarkets</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/supermarkets/create">Add Supermarket</a>
        </li>
        

      </ul>

      <!-- RIGHT SIDE (AUTH) -->
       <ul class="navbar-nav">

      <% if (user) { %>

        <li class="nav-item">
          <span class="nav-link text-light">
             <%= user.email %>
          </span>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>

      <% } else { %>

        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Register</a>
        </li> 

      <% } %>

    </ul>
        

    </div>
  </div>
</nav>