<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<div class="container mt-4">
  <h1>Create Supermarket</h1>

  <form method="POST" action="/supermarkets/create" >

    <input type="text" name="name" placeholder="Name" required class="form-control mb-2">

    <input type="text" name="description" placeholder="Description" class="form-control mb-2">

    <input type="text" name="location" placeholder="Location" class="form-control mb-2">

    <input type="text" name="schedule" placeholder="Schedule" class="form-control mb-2">

    <h4>Delivery</h4>

    <input type="text" name="method" placeholder="Delivery Method" class="form-control mb-2">

    <input type="number" name="cost" placeholder="Cost" class="form-control mb-2">

    <button type="submit" class="btn btn-success">Create</button>

  </form>

</div>

<%- include('../partials/foot') %>